useDynLib(meltt)
export(meltt)
export(meltt.duplicates)
export(meltt.data)
export(meltt.inspect)
export(meltt.validate)
export(mplot)
export(tplot)
export(is.meltt)
S3method(print, meltt)
S3method(summary, meltt)
S3method(plot, meltt)
importFrom("shiny","fluidPage","fluidRow","actionButton","makeReactiveBinding","renderUI","HTML","renderText","observe","observeEvent","stopApp","shinyApp","isolate","column","h3","strong","sidebarPanel","htmlOutput","icon","textOutput")
importFrom("reticulate", "py_run_file", "py_available")
importFrom('Rcpp', 'sourceCpp')
importFrom("utils", "combn")
importFrom("graphics", "abline", "barplot", "legend", "text")
importFrom("scales", "alpha")
importFrom("plotGoogleMaps", "iconlabels","plotGoogleMaps")
importFrom("sp", "proj4string","CRS","SpatialPointsDataFrame","coordinates")
importFrom("ggmap", "get_map","ggmap","make_bbox")
importFrom("ggplot2", "geom_point", "scale_shape_manual", "scale_color_manual", "theme", "theme_set", "theme_bw", "element_blank", "aes", "unit")
importFrom("plyr", "rbind.fill","ldply")
importFrom("dplyr", "sample_frac","sample_n","select","arrange","progress_estimated")
importFrom("tidyr", "drop_na","gather","%>%")
importFrom("shinyjs", "reset")
importFrom("stats", "filter") 