useDynLib(meltt)
export(meltt)
export(meltt_duplicates)
export(meltt_data)
export(meltt_inspect)
export(meltt_validate)
export(mplot)
export(tplot)
export(is.meltt)
S3method(print, meltt)
S3method(summary, meltt)
S3method(plot, meltt)
S3method(tplot, meltt)
S3method(mplot, meltt)
S3method(meltt_inspect, meltt)
S3method(meltt_validate, meltt)
S3method(meltt_duplicates, meltt)
S3method(meltt_data, meltt)
importFrom("shiny","fluidPage","fluidRow","actionButton","makeReactiveBinding","renderUI","HTML","renderText","observe","observeEvent","stopApp","shinyApp","isolate","column","h3","strong","sidebarPanel","htmlOutput","icon","textOutput")
importFrom("reticulate", "py_run_file")
importFrom('Rcpp', 'sourceCpp')
importFrom("utils", "combn")
importFrom("ggplot2", "ggplot", "geom_point", "position_stack", "scale_shape_manual", "scale_color_manual", "theme", "theme_set", "theme_bw", "element_blank", "aes", "unit","geom_bar","geom_hline","facet_wrap","theme_light","scale_fill_manual","labs","scale_y_reverse","coord_flip","geom_text")
importFrom("plyr", "rbind.fill","ldply")
importFrom("dplyr", "select","arrange","progress_estimated","mutate","group_by","count","bind_rows","filter","ungroup","full_join","inner_join","contains")
importFrom("tidyr", "drop_na","gather","%>%")
importFrom("tibble", "tibble")
importFrom("shinyjs", "reset")
importFrom("leaflet","leaflet","addTiles","addProviderTiles","addCircleMarkers","addLegend","addMiniMap")
